
.dropdown-menu a {
  color: #2dc997;
}


.dropdown-menu a:hover, .dropdown-menu a:active, .dropdown-menu a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
  transition: 0.5s;
} 


.dropdown-menu {
background-color: transparent;
}



.dropdown-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

.dropdown-menu > a:before  {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2dc997;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.dropdown-menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.dropdown-menu a {
  padding: 10px;
  color: #fff;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.dropdown-menu a:hover {
  background:transparent;
  color: #fff;
}

.btn-get-started1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.btn-get-started1:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
  color: #fff;
}

@media (max-width:994px){
   .btn-get-started1 {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 6px;
    border: 2px solid #fff;
    color: #fff;
  }
}