input,
textarea,
select,
button {
  color: #333;
  font-size: 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

#inicio h1 {
  font-size: 25px;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

label {
  font-family: "Poppins";
}

.inner {
  margin-top: 92px;
  background: rgba(49, 49, 51, 0.7);
  max-width: 850px;
  color: aliceblue;
  margin: auto;
  display: flex;
}
.inner .image-holder {
  width: 45%;
  margin: auto;
}
.inner form {
  width: 55%;
  padding-left: 30px;
  padding-right: 15px;
}
.inner h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Poppins-SemiBold";
  text-align: center;
  margin-bottom: 28px;
}

.form-group {
  display: flex;
}
.form-group{
  margin-bottom: 0;
  font-size: 15px;

}
.form-group input {
  width: 50%;
}
.form-group input:first-child {
  margin-right: 25px;
}


.form-wrapper {
  position: relative;
  color: #333;
}
.form-wrapper i {
  position: absolute;
  bottom: 9px;
  top: 3px;
  right: 3px;
}


.form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 5px;
}
.input-group {
  width: 100%;
  
  /* font-size: 18px; */
  /* margin: auto; */
}

.btn {
  height: 30px;
}

.form-control textarea{
  height: 50px;
}

.form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins";
}
.form-control::-moz-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins";
}
.form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins";
}
.form-control:-moz-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins";
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px;
}
select option[value=""][disabled] {
  display: none;
}
